<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Prompt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <Prompt.Properties.Settings>
            <setting name="CustomDictionairies" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>$MyDocuments$\PromptDictionaries\custom.lex</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowBoldButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCopyButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCutButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDecreaseSizeButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDeleteButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFontColorButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFontHighlightButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowIncreaseFontSizeButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowItalicsButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOpenButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPasteButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPrintButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRedoButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSaveAsButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSaveButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSeperator1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSeperator2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSeperator3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSeperator4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSeperator5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSpellCheckButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUnderlineButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUndoButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPreviewButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightColor" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
        </Prompt.Properties.Settings>
    </userSettings>
</configuration>
